<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#page-top"></a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index1.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="index1.html#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="Form.html">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="dashboard.html">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="index1.html#contact">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="d-flex" id="wrapper">

        <!-- sidebar starts -->
        <div class="bg-white" id="sidebar-wrapper">

            <div class="sidebar=heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
                <i class="fas fa-user-secret me-2"></i> Ratna Nidhi Foundation
            </div>

            <div class="list-group list-group-flush my-3">
                <a href="#" class="list-group-item list-group-item-action bg-trasnsparent second-text active">
                    <i class="fas fa-chart-line me-2"></i>Analytics
                </a>
            </div>
    
        </div>
        <!-- sidebar ends -->

        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4" style="display: flex; justify-content:between">
                <div class="d-flex aling-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Dashboard</h2>
                </div>
                  
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2"></i>Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid px-4">

                <div class="row g-3 my-2">
                   <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content align-items-center rounded">
                        <div>
                            <h3 class="fs-2">36</h3>
                            <p class="fs-5">Prosthetics Distributed</p>
                        </div>
                        <i class="fas fa-thin fa-wheelchair fs-l primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                   </div>

                   <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content align-items-center rounded">
                        <div>
                            <h3 class="fs-2">9,78,058</h3>
                            <p class="fs-5">Garments Distributed</p>
                        </div>
                        <i class="fas fa-solid fa-shirt fs-l primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                   </div>

                   <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content align-items-center rounded">
                        <div>
                            <h3 class="fs-2">406</h3>
                            <p class="fs-5">Spectacles Distributed</p>
                        </div>
                        <i class="fas fa-thin fa-glasses fs-l primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                   </div>

                   <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content align-items-center rounded">
                        <div>
                            <h3 class="fs-2">49</h3>
                            <p class="fs-5">Food for Education</p>
                        </div>
                        <i class="fa-solid fa-school fs-l primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                   </div>

                </div>

                <div class="row my-5">
                    <div style="display:block; float: left;width: 100%;margin: auto;">
                        <div style="width: 400px;height: 400px;display: inline-block;margin: 35px;">
                            <canvas id="problem1" height="400px" width="400px" ></canvas>
                        </div>
                        <div style="width: 400px;height: 400px;display: inline-block;margin: 35px;">
                            <canvas id="problem2" height="400px" width="400px"></canvas>
                        </div>
                        <div style="width: 400px;height: 400px;display: inline-block;margin: 35px;">
                            <canvas id="problem3" height="400px" width="400px"></canvas>
                        </div>
                    </div>
                    <script src="../static/chartjs.js"></script>
        
                    <script>
                        choice1=document.getElementById("problem1");
                            var myChart = new Chart(choice1, {
                            type: 'bar',
                            data: {
                                labels: ["Caliper", "Wheel Chair", "Hearing Aids", "Above Knee Jaipur Foot","Below Knee Jaipur Foot","RatnaNidhi-Leg"],
                                datasets: [{
                                    label: '',
                                    data: [30, 36, 36,29 , 18,36],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(75, 206, 206, 0.2)',
                                        'rgba(54, 132, 132, 0.2)',
                                    ],
                                    borderColor: [
                                        'rgba(255,99,132,1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(225, 192, 192, 1)',
                                        'rgba(54, 192, 192, 1)',
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero:true
                                        }
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            font:{
                                                size: 20
                                            }
                                            }
                                    }]
                                },
                                plugins: {
                                    title: {
                                        display: true,
                                        text: 'Count of Missing Values',
                                        alignment:'center',
                                        position:'bottom',
                                        padding:{
                                            top:40
                                        }
                                    }
                                }
                            }
                        });

                        //2nd Dashboard
                choice2=document.getElementById("problem2");
                    var myChart = new Chart(choice2, {
                    type: 'line',
                    data: {
                        labels: ["0-20", "21-40", "41-60", "61-80", "81-100"],
                        datasets: [{
                            label: '',
                            data: [3, 11, 11, 9, 2],
                            backgroundColor: [
                                'rgba(54, 162, 235, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)'
                            
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    font:{
                                        size: 20
                                    }
                                    }
                            }]
                        },
                        animations: {
                            tension: {
                            duration: 1000,
                            easing: 'quadratic',
                            from: 1,
                            to: 0,
                            loop: true
                            }
                        },
                        plugins: {
                            title: {
                                display: true,
                                text: 'Count of People from different age groups',
                                alignment:'center',
                                position:'bottom',
                                padding:{
                                    top:40
                                }
                            }
                        }
                    }
                });

                
            </script>

            <script type="text/javascript" src="../static/dataset.json"></script>    
        </div>

                </div>
            </div>


        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
        var el = document.getElementById("wrapper")
        var toggleButton = document.getElementById('menu-toggle')

        toggleButton.onclick = function() {
            el.classList.toggle("toggled")
        }
    </script>
</body>
</html>